html {
  background-color: #2B3D32;
  padding: 25px;
  margin: 0px;
}

h1, h2, h3, p {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

th, li, label {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, th {
  color: #CDB75F;
}

p, li, td, label {
  color: #D5D3C1;
}

form {
  background-color: #375E3D;
  max-width: 100%;
  min-height: 250px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 25px;
}
