html {
  background-color: #2B3D32;
  padding: 25px;
  margin: 0px;
}

h1, h2, h3 {
  color: #A7673E;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
